.account-page
  .account-page__header
    .account-page__header__box
      =link_to '/'do
        =image_tag 'logo.png', height: '50px'

  .account-page__signup
    %h2 会員情報入力
    = form_with model: @user, url: user_registration_path , local: true do |f|
      .account-page__signup__templates
        .account-page__signup__template
          %label ニックネーム
          %span{class: "required"} 必須
        = f.text_field :nickname, {class: "account-page__signup__form", placeholder: "例)フリマ太郎"}

        .account-page__signup__template
          %label メールアドレス
          %span{class: "required"} 必須
        = f.email_field :email, {class: "account-page__signup__form", placeholder: "PC・携帯どちらでも可"} 

        .account-page__signup__template
          %label パスワード
          %span{class: "required"} 必須
        = f.password_field :password, {class: "account-page__signup__form", placeholder: "7文字以上の半角英数字"}

      .account-page__signup__template--showpass
        %br
        ※英字と数字の両方を含めて設定してください
      .account-page__signup__template--identity
        %br
        %h3 本人確認
        %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。


      .account-page__signup__template
        %br
        %label お名前(全角)
        %span{class: "required"} 必須
        .account-page__signup__template-nameform
          = f.text_field :last_name, {class: "account-page__signup__nameform", placeholder: "例)山田"}
          = f.text_field :first_name, {class: "account-page__signup__nameform", placeholder: "例)彩"}

      .account-page__signup__template
        %br
        %label お名前カナ(全角)
        %span{class: "required"} 必須
        .account-page__signup__template-nameform
          = f.text_field :last_name_kana, {class: "account-page__signup__nameform", placeholder: "例)ヤマダ"}
          = f.text_field :first_name_kana, {class: "account-page__signup__nameform", placeholder: "例)アヤ"}
        .account-page__signup__template--bd
          %br
          %label 生年月日
          %span{class: "required"} 必須
          %br
          .account-page__signup__template--bd-sel

            = f.select :birthdate_year, [["--", 0],["2020", 1],["2019", 2],["2018", 3],["2017", 4],["2016", 5],["2015", 6],["2014", 7],["2013", 8],["2012", 9],["2011", 10],["2010", 11],["2009", 12],["2008", 13],["2007", 14]], {}, {class: "account-page__signup__template--bd-y"}
            
            年

            = f.select :birthdate_month, [["--", 0],["1", 1],["2", 2],["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12]], {}, {class: "account-page__signup__template--bd-m"}
            
            月

            = f.select :birthdate_day, [["--", 0],["1", 1],["2", 2],["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18],["19", 19],["20", 20],["21", 21],["22", 22],["22", 22],["23", 23],["24", 24],["25", 25],["26", 26],["27", 27],["28", 28],["29", 29],["30", 30],["31", 31]], {}, {class: "account-page__signup__template--bd-d"}
            
            日
          %br

      .account-page__signup__template-next
        = f.submit "次へ", {class:"account-page__signup__template-next"}


  .account-page__footer



