.account-page
  .account-page__header
    .account-page__header__box
      =link_to '/'do
        =image_tag 'logo.png', height: '50px'

  .account-page__signup
    %h2 会員情報入力
    = form_with model: @address, local: true do |f|
      .account-page__signup__templates
        .account-page__signup__template
          = render partial: 'layouts/address_error_messages', locals: {item: @address, column: "post_number"}
          %label 郵便番号
          %span{class: "required"} 必須
        = f.text_field :post_number, {class: "account-page__signup__form", placeholder: "例)123-4567"}

        .account-page__signup__template
          = render partial: 'layouts/address_error_messages', locals: {item: @address, column: "prefecture_id"}
          %label 都道府県
          %span{class: "required"} 必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"},{class: "account-page__signup__form-prefecture"}
        
        .account-page__signup__template
          = render partial: 'layouts/address_error_messages', locals: {item: @address, column: "city"}
          %label 市区町村
          %span{class: "required"} 必須
        = f.text_field :city, {class: "account-page__signup__form", placeholder: "例)渋谷区"}

        .account-page__signup__template
          = render partial: 'layouts/address_error_messages', locals: {item: @address, column: "address"}
          %label 番地
          %span{class: "required"} 必須
        = f.text_field :address, {class: "account-page__signup__form", placeholder: "例)道玄坂2-23-12"}

        .account-page__signup__template
          %label 建物名
          %span{class: "any"} 任意
        = f.text_field :apartment, {class: "account-page__signup__form", placeholder: "例)フォンティスビル7F"}

    
      %input{type: "submit",class: "account-page__signup__template-enter", value: "登録する"}

  .account-page__footer






-# = form_with model: @address, local: true do |f|
-#   = f.text_field :post_number, {class: "new_session-wrapper__main__text", placeholder: "例)123-4567"}

-#   %input{type: "submit",class: "new_session-wrapper__main__btn", value: "次へ進む"}


      