= render 'items/index_header'

- breadcrumb :mypage
= render "layouts/breadcrumbs"
.user-container
  .user-container-contents

    = render "layouts/mypage_left.html"

    .user-container-contents__right
      .mypage-user-icon
        = image_tag "user-back.png", class: "mypage-user-icon-user-back"
        = link_to "#" , class: "mypage-user-icon-image" do
          = image_tag "member_photo_noimage_thumb.png", size: "60x60"
          .mypage-user-icon__user-name
            = current_user.nickname
          .mypage-user-icon__numbers
            .mypage-user-icon__number
              評価 0
            .mypage-user-icon__number
              出品数 0
      .mypage-tab-contents-notification-todo
        .mypage-tab-contents-notification-todo__tabs
          .mypage-tab-contents-notification-todo__tabs-tab.active
            お知らせ
          .mypage-tab-contents-notification-todo__tabs-tab
            やることリスト
        .mypage-tab-contents-notification-todo-contents
          %ul.mypage-tab-content-lists.active
            %li.mypage-tab-content-list
              = link_to "#", class: "mypage-tab-content-list__link" do
                .mypage-tab-content-list__link-text
                  《15秒！簡単出品するだけ》最大1000pもらえるチャンス！
            %li.mypage-tab-content-list
              = link_to "#", class: "mypage-tab-content-list__link" do
                .mypage-tab-content-list__link-text
                  《TVCM放送中！》タモリさんのCMやメイキング動画・メゾンメルカリの住人の日常をチェック♪
            %li.mypage-tab-content-list__view
              = link_to "#", class: "mypage-tab-content-list__view-link" do
                一覧を見る

          %ul.mypage-tab-content-lists
            %li.mypage-tab-content-list
              = link_to "#", class: "mypage-tab-content-list__link" do
                やることリストの表示です

      
      .mypage-tab-contents-during-past
        %h2.mypage-tab-contents-during-past__head
          購入した商品
        .mypage-tab-contents-during-past__tabs
          .mypage-tab-contents-during-past__tabs-tab.active
            取引中
          .mypage-tab-contents-during-past__tabs-tab
            過去の取引
        .mypage-tab-contents-during-past__contents
          %ul.mypage-tab-contents-during-past__contents-lists.active
            %li.mypage-tab-contents-during-past__contents-list
              取引中の商品はありません
  
= render 'items/index_app-banner'
= render 'items/index_footer'