.account-page
  .account-page__header
    .account-page__header__box
      =link_to '/hogehoge'do
        =image_tag 'logo.png', height: '50px'


.order__main
  %section.order__main__container
    %h2.order__main__container__head  商品内容の確認
    %section.order__main__container__content
      .inner
        .item-box          
          .item-box__image
            = image_tag "#{@image.image}", height: '50px'
          .item-box__detail
            %p.name 
              =@item.name
    %section.order__main__container__pay
      .inner
        .price__box
          .left
            支払い総額
          .right
            ¥
            =@item.price            
    %section.order__main__container__content
      .inner
        - if @default_card_information.blank?
          支払い方法を登録してください
        - else
          支払い方法
          %br
          クレジットカード
          %br
          = "**** **** **** " + @default_card_information.last4
          %br
          有効期限
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        %br
    %section.order__main__container__content
      .inner
        = form_tag(item_pay_path(@item), method: :post) do
          %button.order__commit 購入する     

.account-page__footer