.account-page
  .account-page__header
    .account-page__header__box
      =link_to '/'do
        =image_tag 'logo.png', height: '50px'
  .account-page__signin 
    .account-page__create
      %br
      %p アカウントをお持ちでない方はこちら
      .account-page__create-btn
        = link_to new_user_registration_path do
          %input{class: "account-page__create-btn", type: "submit", value:"新規会員登録"}

    = form_with model:@user, url: user_session_path , local: true do |f|
      .account-page__signin__template
        %br
        -# %label メールアドレス
        .account-page__signin__form
          = f.text_field :email, {class: "account-page__signup__form",placeholder: "メールアドレス"}
      .account-page__signin__template
        %br
        -# %label パスワード
        .account-page__signin__form
          = f.password_field :password, {class: "account-page__signup__form",placeholder: "パスワード"}
        %br
      .account-page__signin-btn
        = f.submit "ログイン", {class: "account-page__signin-btn"}

  .account-page__footer
