.header
  .header__inner
    .header__inner__main
      %h1.icon
        =link_to '/'do
          = image_tag 'logo.png', alt: '', height: '', width: '', class: 'header__inner__main__image'
      .searchbox
        %form(action="")
          %input.login-input-text{type: "hidden"}
          %input.login-input-text{placeholder: "キーワードから探す"}
          %button
            .searchbox__icon
              = image_tag 'icon-search 1.png', alt: '', height: '', width: '100%', class: '.searchbox__icon__img'
          %input.login-input-text{type: "hidden"}
    %ul.resultlist

    .header__inner__nav

      %ul.header__inner__nav__leftlist
        %li.category
          #category-area
            カテゴリーから探す  
            .category-box
              = render "layouts/category"
              -# = link_to('カテゴリー', {})     
        %li.brand 
          = link_to('ブランド', {})   
      %ul.header__inner__nav__rightlist
        - if user_signed_in?  
          %li.logout 
            = link_to "マイページ", "/users/#{current_user.id}", class: 'btn'
        - else 
          %li.login 
            = link_to 'ログイン', new_user_session_path, class: 'btn'
          %li.new 
            = link_to '新規会員登録', new_user_registration_path, class: 'btn'

