= render "new-header"
= form_with model: @item, url: items_path , local: true do |f|
  .new-contents
    -# 商品画像
    .new-contents__box
      .new-contents__box__title
        出品画像
        %span{class: "required"} 必須
      .new-contents__box__image-text
        最大10枚までアップロードできます
      %label{class: "image-label"}
        .new-contents__box__image-area
          %i.fas.fa-camera
          .new-contents__box__image-area__text
            ドラックアンドドロップ
            %br
            または、クリックしてファイルをアップロード
        = f.fields_for :images do |i|
          = i.file_field :image, {class: "file_field"}        
    %hr
    -# 商品説明
    .new-contents__box
      .new-contents__box__title
        商品名
        %supan{class: "required"} 必須
      = f.text_field :name, {class: "new-contents__box__input", placeholder: "40文字まで"}
      .new-contents__box__title
        商品の説明
        %supan{class: "required"} 必須
      = f.text_area :explanation, {class: "new-contents__box__textarea", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意など）\n\n例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"} 
    %hr
    -# 商品詳細
    .new-contents__box
      .new-contents__box__main-title
        商品の詳細
      .new-contents__box__title
        カテゴリー
        %supan{class: "required"} 必須
      %select{class: "new-contents__box__select"}
        %option{value: ""} 選択してください
        %option{value: ""} カテゴリー１
        %option{value: ""} カテゴリー２
        %option{value: ""} カテゴリー３
      .new-contents__box__title
        ブランド
        %supan{class: "any"} 任意
      %input{class: "new-contents__box__input", placeholder: "例）シャネル"} 
      .new-contents__box__title
        商品の状態
        %supan{class: "required"} 必須
      = f.select :condition, [["選択してください",""],"新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], {}, class: "new-contents__box__select"
    %hr
      -# 発送方法
    .new-contents__box
      .new-contents__box__main-title
        発送方法について
      .new-contents__box__title
        発送量の負担
        %supan{class: "required"} 必須
      = f.select :shipping_fee, [["選択してください",""],"送料込み（出品者負担）","着払い（購入者負担）"], {}, class: "new-contents__box__select"
      .new-contents__box__title
        発送元の地域
        %supan{class: "required"} 必須
      %select{class: "new-contents__box__select"}
        %option{value: ""} 選択してください
        %option{value: ""} 県名１
        %option{value: ""} 県名２
        %option{value: ""} 県名３
      .new-contents__box__title
        発送までの日数
        %supan{class: "required"} 必須
      = f.select :shipping_day, [["選択してください",""],"1~2日で発送","2~3日で発送","4~7日で発送"], {}, class: "new-contents__box__select"
    %hr
      -# 販売価格
    .new-contents__box
      .new-contents__box__main-title
        価格（¥300〜9,999,999）
      .new-contents__box__title
        販売価格
        %supan{class: "required"} 必須
        %supan{class: "yen"} ¥
        = f.text_field :price, {class: "new-contents__box__input-yen", placeholder: 0}
        = f.submit "出品する", {class:"new-contents__box__input-yen__submit"}
      .new-contents__box__attention
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
= render "new-footer"