= render 'index_header'

.main
  .item-contents
    .item-box
      %h2.item-box__name
        = @item.name
      .item-box-image
        = image_tag "#{@item.images[0].image}", class: "item-box-image__main"
        %ul
          - @item.images.each do |image|
            = image_tag "#{image.image}", class: "item-box-image__thumbnail"
      .item-box__price
        %span
          = "#{@item.price.to_s(:delimited)}円"
          %span.item-box__price--detail
            = "(税込) #{@item.shipping_fee}"
      - if user_signed_in?
        - if @item.user.id == current_user.id
          = link_to edit_item_path(@item), class:'item-box__item-change-btn' do
            商品の編集
          %p or
          = link_to '#', class:'item-box__item-delete-btn' do
            この商品を削除する
        - else 
          = link_to '#', class:'item-box__order-btn' do
            購入画面に進む
      .item-box__item-detail
        = @item.explanation
      .table
        %table
          %tr
            %th 出品者
            %td
              = User.find(@item.user_id).nickname
          %tr
            %th カテゴリー
            %td
              %a.category1 （未リンク）メンズ
              %br
              %a.category2 （未リンク）ジャケット/アウター
              %br
              %a.category3 （未リンク）ノーカラージャケット
          %tr
            %th ブランド
            %td （未リンク）
          %tr
            %th 商品のサイズ
            %td （未リンク）
          %tr
            %th 商品の状態
            %td 
              = @item.condition
          %tr
            %th 配送料の負担
            %td
              = @item.shipping_fee
          %tr
            %th 発送元の地域
            %td
              %a.prefecture 青森県
          %tr
            %th 発送日の目安
            %td
              = @item.shipping_day
      .item-box__option-area
        .item-box__option-area--like-btn
          %i.fa.fa-star
          お気に入り 0
        %a.item-box__option-area--optional-btn
          %i.fa.fa-flag
          不適切な商品情報

    .comment-box
      = form_with(link_to: '#', local: true, method: :get, class: "comment-form") do |form|
        = form.text_area :'#', class: "comment-input"
        %p.notice 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br
        = button_tag type: 'submit', class: 'comment-btn' do
          %i.fa.fa-comment コメントする

    %ul.nav-item-link.clreafix
      = link_to '#', class: "nav-item-prev" do
        %i.fa.fa-angle-left  前の商品
      = link_to '#', class: "nav-item-next" do
        後ろの商品
        %i.fa.fa-angle-right

    .relayted-items
      = link_to 'メンズをもっと見る', '#'

= render 'index_app-banner'
= render 'index_footer'

